<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <form th:action="${action}" th:method="${method}">
            <label for="formAnimalId">Animal
                <select name="formAnimalId" id="formAnimalId">
                    <option th:each="animal : ${animais}" th:value="${animal.getId()}" th:text="${animal.getNome()}"></option>
                </select>
            </label>
            <label for="formVeterinarioId">Veterinário
                <select name="formVeterinarioId" id="formVeterinarioId">
                    <option th:each="veterinario : ${veterinarios}" th:value="${veterinario.getId()}" th:text="${veterinario.getNome()}"></option>
                </select>
            </label>
            <label for="dataHorario">Horário
                <input type="datetime-local" name="dataNascimento" id="dataNascimento">
            </label>
            <input type="submit" value="Enviar">
        </form>
        <!-- <form th:if="${consulta != null}" th:action="@{/consultas/{id} (id = ${consultas.getId()})}" th:method="DELETE">
            <input type="submit" value="Deletar">
        </form> -->
    </body>
</html>