<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <table>
            <thead>
                <th>
                    Veterinário
                </th>
                <th>
                    Animal
                </th>
                <th>
                    Horário
                </th>
            </thead>
            <tbody>
                <tr th:each="consulta : ${consultas}">
                    <td th:text="${consulta.getAnimal().getNome()}"></td>
                    <td>hello</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>