<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
</head>

<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Consultas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Animais</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Clientes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Veterinários</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav> -->


  <section class="layout-content" layout:fragment="corpo">
    <div class="container-fluid p-3">
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Veterinário</th>
            <th scope="col">Animal</th>
            <th scope="col">Horário</th>
            <th scope="col">Status</th>
            <th scope="col">Operação</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="consulta : ${consultas}">
            <td th:text="${consulta.getId()}"></td>
            <td th:text="${consulta.getVeterinario().getNome()}"></td>
            <td th:text="${consulta.getAnimal().getNome()}"></td>
            <td th:text="${consulta.getDataHorario()}"></td>
            <td th:text="${consulta.getStatus()}"></td>
            <td><a th:href="@{/authorized/consultas/{id}/ver (id = ${consulta.getId()})}">Ver</a></td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" href="/authorized/consultas/criar">Criar</a>
    </div>
  </section>
</body>

</html>