<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <form th:action="${action}" th:method="${method}">
            <label for="cpf">CPF
                <input th:value="${cliente != null} ? ${cliente.getCpf()} : ''" type="text" name="cpf" id="cpf">
            </label>
            <label for="cpf">Nome
                <input th:value="${cliente != null} ? ${cliente.getNome()} : ''" type="text" name="nome" id="nome">
            </label>
            <label for="crmv">Telefone
                <input th:value="${cliente != null} ? ${cliente.getTelefone()} : ''" type="text" name="telefone" id="telefone">
            </label>
            <label for="email">E-mail
                <input th:value="${cliente != null} ? ${cliente.getEmail()} : ''" type="text" name="email" id="email">
            </label>
            <input type="submit" value="Enviar">
        </form>
        <form th:if="${cliente != null}" th:action="@{/clientes/{id} (id = ${cliente.getId()})}" th:method="DELETE">
            <input type="submit" value="Deletar">
        </form>
    </body>
</html>