<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <table>
            <thead>
                <th>
                    Nome
                </th>
                <th>
                    Espécie
                </th>
                <th>
                    Data de nascimento
                </th>
                <th>
                    Sexo
                </th>
                <th>
                    Peso
                </th>
                <th>
                    Raça
                </th>
            </thead>
            <tbody>
                <tr th:each="animal : ${animais}">
                    <td th:text="${animal.getNome()}"></td>
                    <td th:text="${animal.getEspecie()}"></td>
                    <td th:text="${animal.getDataNascimento()}"></td>
                    <td th:text="${animal.getSexo()}"></td>
                    <td th:text="${animal.getPeso()}"></td>
                    <td th:text="${animal.getRaca()}"></td>
                    <td><a th:href="@{/animais/{id}/editar (id = ${animal.getId()})}">Ver</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>