<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout}">
<link th:href="@{/css/style1.css}" rel="stylesheet" />
    <head>
    </head>
    <section class="layout-content" layout:fragment="corpo">
        <div class="container-sm p-3">

            <form th:action="${action}" th:method="${method}">
                <input th:value="${veterinario != null ? veterinario.getId() : null}" type="hidden" name="id" id="id">
                <div class="mb-3">
                    <label class="form-label" for="nome">Nome</label>
                    <input th:value="${veterinario != null ? veterinario.getNome() : null}" type="text" id = "cpf" name = "cpf " class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nome">CPF</label>
                    <input  th:value="${veterinario != null ? veterinario.getCpf() : null}" type="text" id = "nome" name = "nome " class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="telefone">CRMV</label>
                    <input th:value="${veterinario != null ? veterinario.getCrmv() : null}" type="text" id = "telefone" name = "telefone" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">E-mail</label>
                    <input th:value="${veterinario != null ? veterinario.getEmail() : null}" type="email" id = "email" name = "email" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Senha</label>
                    <input th:value="${veterinario != null ? veterinario.getSenha() : null}" type="email" id = "email" name = "email" class="form-control">
                </div>
                <input class="btn btn-primary" type="submit" value="Enviar">
            </form>
            <form class="mt-3" th:if="${veterinario != null}" th:action="@{/authorized/veterinarios/{id} (id = ${veterinario.getId()})}" th:method="DELETE">
                <input class="btn btn-danger" type="submit" value="Deletar">
            </form>
        </div>
    </section>
    </body>
</html>